
<nav class="navbar navbar-expand-sm bg-light">

    <a class="nav-link" href="#">Crud example angular 11 with firebase</a>
  
</nav>

<div class="container">
    <h4>Enter your infos</h4>
    <form >
            <div class="form-group">
                <label for="name">Employee name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name" [(ngModel)]="employeeName">
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age" placeholder="Enter age" name="age" [(ngModel)]="age">
            </div>

            <div class="form-group">
                <label for="adress">Adress:</label>
                <input type="text" class="form-control" id="adress" placeholder="Enter Adress" name="adress" [(ngModel)]="adress">
            
            </div>

            <div class="submit"> 
                <button type="submit" class="btn btn-primary"  [disabled]="!age || !employeeName || !adress" (click)=" addEmp()">Create Employee</button>
            </div>

            <div class="alert" *ngIf="bool"> 
                <div class="alert alert-success" role="alert">
                {{message}}
                </div>
            </div>
    </form>


  

        <div class="col-md-12">
            <h4>List of Employees </h4>
        </div>

    <div class="row p-2">
        <div class="col-md-3 col-sm-12" *ngFor="let emp of employee" >
            <div class="card" *ngIf="!emp.edited; else elseblock">
                <div class="card-body">
                        <div class="card-title">
                            Name: {{emp.name}}
                        </div>

                        <div class="card-subtitle">
                            Age: {{emp.age}}
                        </div>

                        <div class="card-text">
                            Adress: {{emp.adress}}
                     
                         </div>
                         <span >
                               <a class="btn btn-primary btn-sm" (click)="setEmp(emp)"> Edit</a>
                               <a class="btn btn-danger btn-sm" (click)="deleteEmp(emp.id)"> Delete</a> 
                         </span>

                </div>
            </div>

            <ng-template #elseblock>

                <div class="card" >
                    <div class="card-body">
                            <div class="card-title">
                                Edit employee
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="emp.editedName"> 
                                </div>
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="emp.editedAge"> 
                                </div>
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="emp.editedAdress"> 
                                </div>


                            </div>


                        


                         <span >
                                <a class="btn btn-success btn-sm" (click)="updateEmp(emp)"> Update</a>
                                <a class="btn btn-danger btn-sm" (click)="emp.edited=false"> Cancel</a> 
                         </span>
    
                    </div>
                </div>
    



            </ng-template>


        </div>
    </div>
      



    
</div>

